
@{
    ViewBag.Title = "Singer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script>
        $(function () {
            $("ul.nav").children().removeClass("active")
            $("ul.nav li").eq(1).addClass("active")
        })
    </script>

<h2>Singer</h2>

